* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background: #000;
  background-color: #eaebf0;
}

.container-fluid {
  background-color: #000;
  margin: 0;
  font-family: Microsoft JhengHei, sans-serif;
}
.logo {
  width: 18%;
}
.banner {
  background-color: #eaebf0;
  margin-bottom: 10px;
}

h4 {
  color: #000;
}
.pink-text {
  color: #c91c60;
}
.text {
  font-size: 18px;
}
.active {
  display: block;
}
.look-p1 {
  width: 50%;
}
.hidden {
  display: none;
}
.show {
  display: block;
}

.title {
  position: absolute;
  left: 48%;
  width: 30%;
  z-index: 1;
}
.product {
  position: absolute;
  top: 120px;
  right: 60px;
  width: 16%;
}
.content-text {
  line-height: 30px;
}
.headline {
  color: #ff89b7;
  background-color: #fff;
  width: 100px;
  font-size: 22px;
  padding: 5px;
}

.slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slide-img {
  width: 100%;
  float: left;
}

@media screen and (max-width: 800px) {
  .hidden {
    display: block;
  }
  .show {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .logo {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}
